@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:root {
  --clr-primary-hsl-400: 4, 100%, 67%;

  --clr-secondary-hsl-400: 350, 99%, 67%;

  --clr-accent-hsl-1: 0, 0%, 100%;
  --clr-accent-hsl-2: 231, 7%, 60%;
  --clr-accent-hsl-3: 235, 18%, 26%;
  --clr-accent-hsl-4: 234, 29%, 20%;

  --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));

  --clr-primary-400: hsl(var(--clr-primary-hsl-400));

  --clr-accent-1: hsl(var(--clr-accent-hsl-1));
  --clr-accent-2: hsl(var(--clr-accent-hsl-2));
  --clr-accent-3: hsl(var(--clr-accent-hsl-3));
  --clr-accent-4: hsl(var(--clr-accent-hsl-4));

  --secondary-gradient: linear-gradient(
    var(--clr-primary-400),
    var(--clr-secondary-400)
  );

  --ff-general: Roboto, sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-100: 0.85rem;
  --fs-200: 1rem;
  --fs-300: 2.5rem;
  --fs-400: 3.5rem;

  --size-100: 0.5rem;
  --size-200: 0.75rem;
  --size-300: 1rem;
  --size-400: 1.5rem;
  --size-500: 2rem;
  --size-600: 2.5rem;
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

img,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/* Utilities */
.container {
  background: var(--clr-accent-1);
}

.flex {
  display: flex;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-justify-space-btwn {
  justify-content: space-between;
}

.flex-align-items {
  align-items: start;
}

.grid {
  display: grid;
}

.gap {
  gap: var(--size-300);
}

.align-center {
  text-align: center;
  margin-inline: auto;
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.border-radius {
  border-radius: 0 0 var(--size-300) var(--size-300);
}

.line-height {
  line-height: 1.5;
}

.padding-block-100 {
  padding-block: var(--size-100);
}

.padding-block-200 {
  padding-block: var(--size-300);
}

.max-width {
  max-width: 30ch;
}

.fs-100 {
  font-size: var(--fs-100);
}

/* General Styles */
body {
  font-family: var(--ff-general);
  font-weight: var(--fw-regular);
  background: var(--clr-accent-4);
  font-size: var(--fs-200);
  color: var(--clr-accent-4);

  min-height: 100vh;
}

.heading-1 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-300);
  margin-block: var(--size-300);
}

.btn {
  font-weight: var(--fw-bold);
  font-size: var(--fs-200);
  color: var(--clr-accent-1);
  background: var(--clr-accent-4);
  padding: var(--size-300);
  border-radius: var(--size-100);

  cursor: pointer;
  border: none;
  outline: none;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  background: var(--secondary-gradient);
  border: none;
  outline: none;
}

.content {
  padding-block: var(--size-500);
  padding-inline: var(--size-400);
}

.input-section > div {
  padding-block-end: var(--size-100);
}

.input-section input {
  padding: var(--size-300);
  border-radius: var(--size-100);
  border: 2px solid var(--clr-accent-2);
  color: var(--clr-accent-3);

  cursor: pointer;
  outline: none;
}

.img-wrapper img {
  width: 100%;
}

.error {
  color: var(--clr-primary-400);
}

/* JS toggle class */
.hidden {
  display: none;
}

/* Small screen widths */
@media (max-width: 700px) {
  .margin-block-start-400 {
    margin-block-start: 10%;
  }

  .border-radius {
    border-radius: 0;
  }

  .content {
    margin-inline: auto;
    max-width: 25rem;
  }

  .subscribed .content {
    min-height: 100vh;
  }
}

/* Big screen widths */
@media (min-width: 700px) {
  body {
    place-items: center;
  }

  .container {
    --max-width: 1110px;
    --padding: var(--size-300);

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    box-shadow: var(--size-100) var(--size-300) 5rem
      hsl(var(--clr-accent-hsl-3), 0.5);
  }

  .subscribed {
    max-width: 34rem;
  }

  .inner-section {
    padding: var(--size-400);
    grid-template-columns: repeat(2, 1fr);
    max-width: 61rem;

    grid-template-areas: "content image";
    align-items: center;
  }

  .img-wrapper {
    justify-content: end;
    grid-area: image;
  }

  .content {
    grid-area: content;
  }

  .img-wrapper img {
    height: 37.5rem;
  }

  .heading-1 {
    font-size: var(--fs-400);
  }

  .max-width {
    max-width: 40ch;
  }

  .border-radius {
    border-radius: var(--size-500);
  }

  .padding-block-100 {
    padding-block: var(--size-200);
  }
}
